.sidebar {
    padding-top: 10px;
    padding-left: 16px;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    transition: width ease-out 0.3s;
    background: var(--inverted-bg-color);
    position: relative;
    color: var(--inverted-secondary-color);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.btnCollapsed {
    position: absolute;
    right: -32px;
    bottom: 32px;
    z-index: var(--sidebar-btn-z-index);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}
