.app.dark {
    --bg-color: #4D0881;
    --primary-color: #A3E25B;
    --secondary-color: #578323;

    --inverted-bg-color: #F4DFC0;
    --inverted-primary-color: #F09102;
    --inverted-secondary-color: #61A62F;
}
