.app_dark_theme {

    --primary-color: #21C49C;
    --secondary-color: #58FEDB;
    --bg-color: #1B2821;


    --inverted-primary-color: #287063;
    --inverted-secondary-color: #1B2821;
    --inverted-bg-color: #09342b;
}
