.app_dark_theme {
    --bg-color: #4d0881;
    --primary-color: #a3e25b;
    --secondary-color: #578323;
    --inverted-bg-color: #f4dfc0;
    --inverted-primary-color: #f09102;
    --inverted-secondary-color: #61a62f;
}
