.app_light_theme {
    --bg-color: #f4dfc0;
    --primary-color: #060;
    --secondary-color: #090;
    --inverted-bg-color: #444;
    --inverted-primary-color: #0af;
    --inverted-secondary-color: #0f7;
}
