.app_light_theme {
    --primary-color: #214eff;
    --secondary-color: #4352ff;
    --bg-color: #eee;
    --inverted-primary-color: #eee;
    --inverted-secondary-color: #f4f5fb;
    --inverted-bg-color: #0727a2;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --bg-code: #fff;
    --bg-card: #fff;
    --bg-listbox: #fff;
}
