.app_light_theme {

    --primary-color: #214eff;
    --secondary-color: #f4f5fb;
    --bg-color: #eeeeee;

    --inverted-primary-color: #eeeeee;
    --inverted-secondary-color: #f4f5fb;
    --inverted-bg-color: #0727a2;
}
