.app_orange_theme {

  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --bg-color: #faf4fb;


  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;
  --inverted-bg-color: #bd5012;

  --skeleton-color: #ad4f15;
  --skeleton-shadow: #ad4f38;

}
